.todo-title{
font-weight: bold;
font-size: x-large;
align-self: center;
justify-content: center;
padding: 10px;
}

.todo-date{
color: #515151;
align-self: center;
justify-content: center;
padding: 10px;
}

.todo-li{
    display: flex;
    flex-direction: column;
    border-style: solid ;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    background-color: aliceblue;
}

button{
    display: flex;
    width: max-content;
    align-self: center;
    justify-content: center;
    margin: 5px;
}


.completed{
    background-color: rgba(0, 128, 0, 0.432);
    border-color: rgba(0, 128, 0, 0.726);
    border-width: 5px;
}